* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Roboto Slab", serif;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

:root {
  --global-max-width: 1300px;
}
